{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": ["@ckt1031/eslint-config/typescript-strict"],
	"parserOptions": {
		"ecmaVersion": "latest",
		"project": "./tsconfig.json"
	},
	"root": true,
	"rules": {
		"security/detect-non-literal-fs-filename": 0,
		"security/detect-object-injection": 0
	}
}
