{
  "branches": [ "main" ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "main.js", "label": "JS distribution" },
          { "path": "manifest.json", "label": "Manifest distribution" },
          { "path": "styles.css", "label": "CSS distribution" }
        ]
      }
    ]
  ]
}
