.modal-text-area {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 200px;
}

.scroll-container {
	max-height: 300px;
	overflow-y: auto;
}

.log-item {
	cursor: pointer;
	margin: 5px 0;
}

.log-delete-button {
	margin-left: 5px;
}

.log-search-box {
	width: 100%;
	margin-bottom: 7px;
}

.code-container {
	height: 300px;
	overflow: auto;
	border: 1px solid #555;
	padding: 10px;
	font-family: monospace;
	white-space: pre-wrap;
	border-radius: 8px;
	user-select: text;
	-webkit-user-select: text;
}

.button-padding-right {
	margin-right: 5px;
}
