name: BuildCI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/setup-node@v6
        with:
          node-version: latest

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install

      - run: bun run lint

      - run: bun run test

      - run: bun run build
        env:
          SETTINGS_OBFUSCATE_KEY: ${{ secrets.SETTINGS_OBFUSCATE_KEY }}

      - run: bun run scripts/auto-build-version.ts

      - uses: actions/upload-artifact@v4
        with:
          name: plugin
          path: |
            dist/main.js
            manifest.json
            dist/styles.css
