name: Release A New Version

on:
    push:
        tags:
            - "*"

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - run: bun install

            - run: bun run lint

            - run: bun run test

            - run: bun run build
              env:
                  SETTINGS_OBFUSCATE_KEY: ${{ secrets.SETTINGS_OBFUSCATE_KEY }}

            # Get the version number and put it in a variable
            - name: Get version info
              id: version
              run: |
                  echo "name=$(git describe --abbrev=0 --tags)" >> $GITHUB_OUTPUT

            - name: Prepare manifest file
              run: |
                    if [[ "${{ contains(steps.version.outputs.name, '-beta') }}" == 'true' ]]; then
                        cp manifest-beta.json manifest.json
                    else
                        echo "Pass"
                    fi
              shell: bash

            - name: Release
              if: startsWith(github.ref, 'refs/tags/')
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      main.js
                      manifest.json
                      styles.css
                  draft: false
                  prerelease: ${{ contains(steps.version.outputs.name, '-beta') }}
